<template>
	<section id="services" class="services section">
		<div class="container section-title" data-aos="fade-up">
			<h2>Services</h2>
			<p>
				Necessitatibus eius consequatur ex aliquid fuga eum quidem sint
				consectetur velit
			</p>
		</div>

		<div class="container" data-aos="fade-up" data-aos-delay="100">
			<div class="row service-grid">
				<div
					class="col-lg-4 col-md-6"
					data-aos="fade-up"
					data-aos-delay="200"
				>
					<div class="service-item">
						<div class="service-icon">
							<i class="bi bi-palette"></i>
						</div>
						<h3>
							<a href="service-details.html">Creative Design</a>
						</h3>
						<p>
							Mauris blandit aliquet elit, eget tincidunt nibh
							pulvinar a. Sed porttitor lectus nibh lorem ipsum
							dolor sit amet consectetur.
						</p>
						<div class="service-link">
							<a href="service-details.html">
								<span>Explore</span>
								<i class="bi bi-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>

				<div
					class="col-lg-4 col-md-6"
					data-aos="fade-up"
					data-aos-delay="250"
				>
					<div class="service-item">
						<div class="service-icon">
							<i class="bi bi-code-slash"></i>
						</div>
						<h3>
							<a href="service-details.html">Web Development</a>
						</h3>
						<p>
							Nulla porttitor accumsan tincidunt. Curabitur arcu
							erat, accumsan id imperdiet et, porttitor at sem
							donec rutrum congue leo.
						</p>
						<div class="service-link">
							<a href="service-details.html">
								<span>Explore</span>
								<i class="bi bi-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>

				<div
					class="col-lg-4 col-md-6"
					data-aos="fade-up"
					data-aos-delay="300"
				>
					<div class="service-item">
						<div class="service-icon">
							<i class="bi bi-graph-up"></i>
						</div>
						<h3>
							<a href="service-details.html">Digital Marketing</a>
						</h3>
						<p>
							Vestibulum ac diam sit amet quam vehicula elementum
							sed sit amet dui. Proin eget tortor risus
							pellentesque habitant morbi.
						</p>
						<div class="service-link">
							<a href="service-details.html">
								<span>Explore</span>
								<i class="bi bi-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>

				<div
					class="col-lg-4 col-md-6"
					data-aos="fade-up"
					data-aos-delay="200"
				>
					<div class="service-item">
						<div class="service-icon">
							<i class="bi bi-shield-check"></i>
						</div>
						<h3>
							<a href="service-details.html">Brand Strategy</a>
						</h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing
							elit, sed do eiusmod tempor incididunt ut labore et
							dolore magna aliqua.
						</p>
						<div class="service-link">
							<a href="service-details.html">
								<span>Explore</span>
								<i class="bi bi-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>

				<div
					class="col-lg-4 col-md-6"
					data-aos="fade-up"
					data-aos-delay="250"
				>
					<div class="service-item">
						<div class="service-icon">
							<i class="bi bi-people"></i>
						</div>
						<h3>
							<a href="service-details.html">Consulting</a>
						</h3>
						<p>
							Donec sollicitudin molestie malesuada. Cras
							ultricies ligula sed magna dictum porta vivamus
							magna justo lacinia eget.
						</p>
						<div class="service-link">
							<a href="service-details.html">
								<span>Explore</span>
								<i class="bi bi-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>

				<div
					class="col-lg-4 col-md-6"
					data-aos="fade-up"
					data-aos-delay="300"
				>
					<div class="service-item">
						<div class="service-icon">
							<i class="bi bi-headset"></i>
						</div>
						<h3>
							<a href="service-details.html">Support Services</a>
						</h3>
						<p>
							Curabitur non nulla sit amet nisl tempus convallis
							quis ac lectus. Mauris blandit aliquet elit eget
							tincidunt nibh pulvinar.
						</p>
						<div class="service-link">
							<a href="service-details.html">
								<span>Explore</span>
								<i class="bi bi-arrow-right"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</template>
